

<div class="container-fluid">
    <!-- <div class="row" *ngIf="errormessage$|async as ErrorMessage">
        <div class="col-md-12">
            <div class="alert alert-danger">
                {{ErrorMessage}}
            </div>
        </div>
    </div> -->
    <div class="row" style="display: flex;justify-content: space-between;">
        <div class="col-md-6">
            <h2>Users List in Declarative</h2>     
            <div>
                <button class="btn btn-primary btn-sm"  (click)="addUser()">Add User</button>
            </div>      
            <table class="table table-hover" *ngIf="vm$|async as vm">
                <thead>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Date</th>
                </thead>
                <tbody >
                    <tr [ngClass]="{'changeColor': data.id===vm.selecteduser?.id}" 
                    *ngFor="let data of vm.users " (click)="getId(data.id)">
                        <td>{{data.id}}</td>
                        <td>{{data.username}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.mobileNumber}}</td>
                        <td>{{data.createdDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <app-add *ngIf="showUserDatails" [childPageHeader]="childPageHeader" [buttonName]="buttonName"></app-add>
            <app-home *ngIf="!showUserDatails"></app-home>
        </div>
    </div>
</div>